*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 4rem;
}
.nav-links{
    display: flex;
    gap: 6rem;
}
.nav-links > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: white;
}
.hero{
    background-color: black;
    min-height: 70vh;
}
.home-desc{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 12rem;
    color: white; 

}
.home-desc > img{
    width: 400px;
    height: 400px;
}
.home-content{
    width: 50%;
}
.home-content > h1{
    font-size: 2rem;
    margin-bottom: 4rem;
    width: 100%;
}
.name-style{
    color: gold;
}
.home-content > p{
    width: 80%;
    margin-bottom: 4rem;
    line-height: 30px;
}
.home-content > a > button{
    background-color: transparent;
    color: white;
    border-radius: 999px;
    border: 1px solid white;
    cursor: pointer;
    padding: 1rem 4rem;
}
.home-content > a > button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}


/* ######### */
.resume > h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.resume-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resume-item{
    width: 40%;
}
.resume-cont > h1{
    text-decoration: underline;
    text-decoration-color: red;
    font-family: cursive;
}
